<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tagged-items-heading"
        data-cy="TaggedItemsCreateUpdateHeading"
        jhiTranslate="easyBlogApp.taggedItems.home.createOrEditLabel"
      >
        Create or edit a Tagged Items
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="easyBlogApp.taggedItems.itemType" for="field_itemType">Item Type</label>
          <input type="text" class="form-control" name="itemType" id="field_itemType" data-cy="itemType" formControlName="itemType" />
          <div *ngIf="editForm.get('itemType')!.invalid && (editForm.get('itemType')!.dirty || editForm.get('itemType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('itemType')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="easyBlogApp.taggedItems.tag" for="field_tag">Tag</label>
          <select class="form-control" id="field_tag" data-cy="tag" name="tag" formControlName="tag" [compareWith]="compareTags">
            <option [ngValue]="null"></option>
            <option [ngValue]="tagsOption" *ngFor="let tagsOption of tagsSharedCollection">{{ tagsOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="easyBlogApp.taggedItems.item" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item" [compareWith]="compareItemTypes">
            <option [ngValue]="null"></option>
            <option [ngValue]="itemTypesOption" *ngFor="let itemTypesOption of itemTypesSharedCollection">{{ itemTypesOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="easyBlogApp.taggedItems.page" for="field_pages">Page</label>
          <select
            class="form-control"
            id="field_pages"
            data-cy="page"
            multiple
            name="pages"
            formControlName="pages"
            [compareWith]="comparePages"
          >
            <option [ngValue]="pagesOption" *ngFor="let pagesOption of pagesSharedCollection">{{ pagesOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label jhiTranslate="easyBlogApp.taggedItems.post" for="field_posts">Post</label>
          <select
            class="form-control"
            id="field_posts"
            data-cy="post"
            multiple
            name="posts"
            formControlName="posts"
            [compareWith]="comparePosts"
          >
            <option [ngValue]="postsOption" *ngFor="let postsOption of postsSharedCollection">{{ postsOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
